@CHARSET "UTF-8";

.qui-tags-container {
    border: 1px solid #999;
    clear: both;
    float: left;
    max-width: 100%;
    min-height: 100px;
    padding: 10px;
    width: 600px;
}

.qui-tags-container input {
    box-shadow: none;
    border: none;
}

.qui-tags-tag {
    background-color: #eff0f0;
    border: 1px solid #d6d9d9;
    border-radius: 3px;
    color: #555;
    float: left;
    margin: 0 5px 5px 0;
    padding: 3px 10px;
    position: relative;
    text-decoration: none;
}

.qui-tags-tag .icon-tag {
    color: #99a2a6;
    margin-right: 10px;
}

.qui-tags-tag .icon-remove {
    color: #99a2a6;
    cursor: pointer;
    margin-left: 5px;
    padding: 0 5px;
}

.qui-tags-tag .icon-remove:hover {
    background: #666666;
    color: #FFFFFF;
}

.qui-tags-tag-add {
    float: left;
}
