<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <item parent="/extras/"
          name="tags"
          icon="fa fa-tags"
    >
        <locale group="quiqqer/tags" var="menu.tags"/>
    </item>

    <item parent="/extras/tags/"
          name="manager"
          require="package/quiqqer/tags/bin/Manager"
          icon="fa fa-tag"
    >
        <locale group="quiqqer/tags" var="menu.tags.manager"/>
    </item>

    <item parent="/extras/tags/"
          name="groups"
          require="package/quiqqer/tags/bin/groups/Panel"
          icon="fa fa-tags"
    >
        <locale group="quiqqer/tags" var="menu.tags.groups"/>
    </item>

</menu>
