<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <settings>

        <config>
            <section name="tags">
                <conf name="useGroups">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
                <conf name="getTagsRecursive">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
            </section>
        </config>

        <window name="Tags">
            <title>
                <locale group="quiqqer/tags" var="menu.tag.settings.title"/>
            </title>
            <params>
                <icon>fa fa-tag</icon>
            </params>

            <categories>
                <category name="tags">
                    <text>
                        <locale group="quiqqer/system" var="quiqqer.settings.general.globals.title"/>
                    </text>
                    <icon>fa fa-tags</icon>

                    <settings title="tags" name="tags">
                        <title>
                            <locale group="quiqqer/system" var="quiqqer.settings.general.globals.title"/>
                        </title>

                        <input conf="tags.useGroups" type="checkbox">
                            <text>
                                <locale group="quiqqer/tags" var="settings.window.tags.useGroups"/>
                            </text>
                        </input>
                        <input conf="tags.getTagsRecursive" type="checkbox">
                            <text>
                                <locale group="quiqqer/tags" var="settings.window.tags.getTagsRecursive.text"/>
                            </text>
                            <description>
                                <locale group="quiqqer/tags" var="settings.window.tags.getTagsRecursive.description"/>
                            </description>
                        </input>
                    </settings>

                </category>
            </categories>

        </window>

    </settings>

    <!-- Project Settings -->
    <project>

        <settings>
            <config>
                <section name="tags">
                    <conf name="tagSearchId">
                        <type><![CDATA[string]]></type>
                    </conf>
                </section>
            </config>

            <window>
                <categories>
                    <category name="tags">
                        <text>
                            <locale group="quiqqer/tags" var="project.settings.title"/>
                        </text>
                        <icon>fa fa-tags</icon>

                        <settings title="tags.tagSearchId" name="tags.tagSearchId">
                            <title>
                                <locale group="quiqqer/tags" var="project.settings.title"/>
                            </title>
                            <input conf="tags.tagSearchId" data-qui="controls/projects/project/SiteSelect">
                                <text>
                                    <locale group="quiqqer/tags" var="project.settings.tagSearchId.title"/>
                                </text>
                            </input>
                        </settings>
                    </category>
                </categories>

            </window>
        </settings>

    </project>
</quiqqer>
