.quiqqer-tags-search {
    float: left;
    height: 100%;
    width: 100%;
}

.quiqqer-tags-search-no-result {
    padding: 10px;
}

/** form fields
 ========================================= */

.quiqqer-tags-search-select {
    float: left;
    width: 33.333%;
}

.quiqqer-tags-search-freetext {
    float: left;
    margin-left: 10px;
    width: calc(66.666% - 10px);
}

/** result
 ========================================= */

.quiqqer-tags-search-result {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    clear: both;
    float: left;
    height: calc(100% - 40px);
    margin-top: 20px;
    overflow: auto;
    width: 100%;
}

.quiqqer-tags-search-result-entry {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    float: left;
    line-height: 30px;
    width: 100%;
}

.quiqqer-tags-search-result-entry:hover {
    background: rgba(0, 0, 0, 0.2);
}

.quiqqer-tags-search-result-entry__select {
    background: rgba(0, 0, 0, 0.1);
}

.quiqqer-tags-search-result-entry-icon {
    float: left;
    line-height: 30px;
    text-align: center;
    width: 30px;
}

.quiqqer-tags-search-result-entry-title {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 30px);
}