.quiqqer-tags-groups-search {
    float: left;
    height: 100%;
    width: 100%;
}

.quiqqer-tags-groups-search-no-result {
    padding: 10px;
}

.quiqqer-tags-groups-search-select {
    width: 100%;
}

.quiqqer-tags-groups-search-result {
    margin-top: 10px;
    float: left;
    height: calc(100% - 40px);
    overflow: auto;
    width: 100%;
}

.quiqqer-tags-groups-search-result-entry {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    float: left;
    line-height: 30px;
    width: 100%;
}

.quiqqer-tags-groups-search-result-entry:hover {
    background: rgba(0, 0, 0, 0.2);
}

.quiqqer-tags-groups-search-result-entry__select {
    background: rgba(0, 0, 0, 0.1);
}

.quiqqer-tags-groups-search-result-entry-icon {
    float: left;
    line-height: 30px;
    text-align: center;
    width: 30px;
}

.quiqqer-tags-groups-search-result-entry-title {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 30px);
}