.quiqqer-tags-groupsCreate {
    float: left;
    height: 100%;
    width: 100%;
}

.quiqqer-tags-groupsCreate label {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.quiqqer-tags-groupsCreate-title {
    float: left;
    line-height: 30px;
    width: 100px;
}

.quiqqer-tags-groupsCreate-description {
    clear: both;
    float: left;
}

.quiqqer-tags-groupsCreate label > span {
    width: 100px;
}

.quiqqer-tags-groupsCreate textarea {
    margin-top: 5px;
    width: 100%;
}

.quiqqer-tags-groupsCreate-input {
    float: left;
    min-width: 300px;
}

.quiqqer-tags-groupsCreate input {
    width: 100%;
}